.speech-bubble {
  border-radius: 15px;
  color:white;
  margin: 10px;
  padding: 10px;
}

.speech-bubble-ai{
  background-color: #FF0000;
  width: 500px;
}

.speech-bubble-user{
  background-color: rgb(131 192 255 / 0.55);
  width: 500px;
}